@mixin basic {
	.contact-page {
		h2 {
			margin: 0.5em 0;
			color: #000a;
		}
		.form-grid {
			div {
				padding: 0.2em;
				input,
				textarea {
					outline: none;
					border-radius: 4px;
					border: 1px solid #0003;
					margin: 0.3em 0;
				}
				input {
					min-height: 40px;
				}
				textarea {
					min-height: 200px;
				}
			}
		}
		.connect {
			display: block;
			.wrap {
				display: flex;
				flex-direction: column;
				gap: 1em;
				div {
					display: flex;
					justify-content: flex-start;
					gap: 0.8em;
					font-size: 1.1rem;
					font-family: heebo;
					color: #000a;
					svg {
						width: auto;
						font-size: 0.8rem;
					}
					.icon-desc {
						display: flex;
						flex-direction: column;
						font-size: 0.9rem;
						gap: 0;
						p:last-child {
							font-family: nun;
							color: #000a;
						}
					}
				}
			}
		}
	}
}
@mixin lg {
	@include basic;
}
@mixin md {
	@include basic;
	.connect {
		border-top: 1px solid #0005;
	}
}
@mixin sm {
}

@media screen and (min-width: 64em) {
	@include lg;
}

@media screen and (max-width: 64em) {
	@include md;
}
